doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
        meta(http-equiv="cleartype", content="on")
        title
            block title
                | Airframe
        != htmlWebpackPlugin.files.webpackManifest
        block head
          //- Additional head content (scripts, styles.

body
    block content

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    block scripts
      //- Additional scripts.
