.btn {
    font-family: $sans;
    padding: 0.3rem 1rem 0.2rem;
    background: $gray-lighter;
    color: $black;
    border: 1px solid;
    border-color: darken($gray-lighter, 5%);
    border-radius: $corner-radius;
    text-decoration: none;
    display: inline-block;

    &:hover {
        cursor: pointer;
        background: lighten($gray-lighter, 2.5%);
    }

    + .btn {
        margin-left: 1em;
    }
}

.btn--primary {
    background: $blue;
    border-color: darken($blue, 5%);
    color: $white;

    &:hover {
        background: lighten($blue, 2.5%);
    }
}

.btn--warning {
    background: $red;
    border-color: darken($red, 5%);
    color: $white;

    &:hover {
        background: lighten($red, 2.5%);
    }
}

.btn--action {
    background: $green;
    border-color: darken($green, 5%);
    color: $white;

    &:hover {
        background: lighten($green, 2.5%);
    }
}
