/* Global styles
   ------------- */

// Normalize font size, set block defaults
input,
textarea,
select,
button,
label {
    display: block;
    font-family: $sans;
    font-size: $scale-normal;
    line-height: $base-line-height;
    margin-bottom: 1rem;
}


/* Individual element styles
   ------------------------- */

label {
    margin-bottom: 0.5rem;
}

[type="text"],
[type="email"],
[type="password"],
textarea {
    padding: 0.25rem 0.5rem;
    background: $white;
    border: 1px solid $gray-light;
    width: 100%;
    border-radius: $corner-radius;
}

[type="checkbox"],
[type="radio"] {
    display: inline-block;
}

.form--radio + .form--radio,
.form--checkbox + .form--checkbox {
    // group similar elements
    margin-top: -0.5rem;
}

// Cross-browser custom select boxes thanks to https://github.com/filamentgroup/select-css.

.form--select {
    position: relative;
    display: block;

    select {
        width: 100%;
        margin: 0;
        background: none;
        border: 1px solid $gray-light;
        border-radius: $corner-radius;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        // Font size must be 16px or larger to prevent iOS page zoom on focus */
        font-size: $scale-normal;
        // General select styles: change as needed */
        font-family: $sans;
        color: $gray-darker;
        padding: 0.35rem 2rem 0.25rem 0.5rem;
        line-height: $base-line-height;

        &:hover {
            border: 1px solid $gray;
        }

        &:focus {
            outline: none;
            border-color: $aqua;
        }
    }

    option {
        font-weight: normal;
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        right: 1rem;
        margin-top: -0.25rem;
        border-width: 0.5rem 0.325rem 0;
        border-color: $gray-dark transparent transparent;
        border-style: solid;
        z-index: 2;
        pointer-events: none;
    }
}
