/* Global styles
   ------------- */

// Normalize font size, set block defaults
input,
textarea,
select,
button,
label {
    display: block;
    font-family: $sans;
    font-size: $scale-normal;
    line-height: $base-line-height;
    margin-bottom: 1rem;
}


/* Individual element styles
   ------------------------- */

label {
    margin-bottom: 0.5rem;
}

[type="text"],
[type="email"],
[type="password"],
textarea {
    padding: 0.25rem 0.5rem;
    background: $white;
    border: 1px solid $gray-light;
    min-width: 16rem;
    border-radius: $corner-radius;
}

[type="checkbox"],
[type="radio"] {
    display: inline-block;
}

.form--radio + .form--radio,
.form--checkbox + .form--checkbox {
    // group similar elements
    margin-top: -0.5rem;
}

select {
    //ed. note: select boxes are weird.
    outline: none;
    background: $white;
    color: $black;
    border: 1px solid $gray-light;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    border-radius: $corner-radius;
    min-width: 16rem;
}
