// grays
$black:             #111;
$white:             #fff;

$gray-darker:       #464646;
$gray-dark:         #707070;
$gray:              #959595;
$gray-light:        #c2c2c2;
$gray-lighter:      #e1e1e1;

// colors
$navy:              #001f3f;
$blue:              #0074d9;
$aqua:              #7fdbff;
$teal:              #39cccc;
$olive:             #3d9970;
$green:             #2ecc40;
$lime:              #01ff70;
$yellow:            #ffdc00;
$orange:            #ff851b;
$red:               #ff4136;
$fuchsia:           #f012be;
$purple:            #b10dc9;
