// base font size
$base-font-size: 16px;
// base line height
$base-line-height: 1.6;

// typefaces
$sans:        Helvetica, sans-serif;
$serif:       Georgia, serif;
$mono:        Courier, monospace;

// font weights
$weight-black:  900;
$weight-bold:   700;
$weight-normal: 400;
$weight-light:  300;
$weight-thin:   100;

.type--sans {
    font-family: $sans;
}

.type--serif {
    font-family: $serif;
}

.type--mono {
    font-family: $mono;
}

// modular scale for font sizes
$ms-base: 1.5;

@function ms( $i ) {

    @if round( $i ) != $i {
        @warn 'The modular scale function only works with intergers';
    }

    $return: $ms-base;

    @if ( $i > 0 ) {
        @for $j from 1 to $i {
            $return: $return * $ms-base;
        }
    }
    @else {
        @for $i from ( -1 + 1 ) to ( abs( $i ) + 1 ) {
            $return: $return / $ms-base;
        }
    }

    @return $return * 1rem;

}

$scale-huge:        ms( 3 );
$scale-xlarge:      ms( 2 );
$scale-large:       ms( 1 );
$scale-normal:      ms( 0 );
$scale-small:       ms( -1 );
$scale-xsmall:      ms( -2 );
$scale-tiny:        ms( -3 );



// global type baselines
body,
html {
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $serif;
    color: $black;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern';
    font-kerning: normal;
}

// bold
strong {
    font-weight: bold;
}

// italics
em {
    font-style: italic;
}

// headers
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans;
    font-weight: 700;
    margin-bottom: 1rem;
}

h1 {
    font-size: $scale-huge;
    line-height: 1em;
}

h2 {
    font-size: $scale-xlarge;
    line-height: 1.5em;
}

h3 {
    font-size: $scale-large;
    line-height: 1.5em;
}

h4 {
    font-size: $scale-normal;
}

h5 {
    font-size: $scale-small;
}

h6 {
    font-size: $scale-xsmall;
}

// paragraphs
p {
    margin-bottom: 1em;
}

// links
a {
    color: $blue;
}

// quotes
blockquote {
    color: $gray-dark;
    font-style: italic;
    margin: 1em 0;
    border-left: 3px solid $gray-light;
    padding-left: 1em;
}

// lists
ul {
    list-style: disc inside;
}

ol {
    list-style: decimal inside;
}

// code
code {
    font-family: $mono;
}
