// grays
$black:             #222;
$white:             #fff;

$gray-darker:       mix($white, $black, 10%);
$gray-dark:         mix($white, $black, 30%);
$gray:              mix($white, $black, 50%);
$gray-light:        mix($white, $black, 70%);
$gray-lighter:      mix($white, $black, 90%);

// colors
$navy:              #001f3f;
$blue:              #0074d9;
$aqua:              #7fdbff;
$teal:              #39cccc;
$olive:             #3d9970;
$green:             #2ecc40;
$lime:              #01ff70;
$yellow:            #ffdc00;
$orange:            #ff851b;
$red:               #ff4136;
$fuchsia:           #f012be;
$purple:            #b10dc9;
