/* AGS - Airframe grid system
 * v0.1 */

// Grid configuration
$grid-width: 70rem;
$gutter: 2%;

$row-spacing: 1rem;
$corner-radius: 4px;

@mixin row {
    margin-bottom: $row-spacing;
    padding: 0 $gutter / 2;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: center;
}

@mixin column-fixed($span) {
    flex: 0 0 ($span * 100%) - $gutter;
    margin: 0 ($gutter / 2);
}

@mixin column-flex {
    flex: 1;
    margin: 0 ($gutter / 2);
}

@mixin visible-grid {
    background: transparentize($blue, 0.9);
}

// Helper classes

.g--container {
    margin: 0 auto;
    width: 100%;
    max-width: $grid-width;
}

.g--row {
    @include row;
}

.g--visible-grid {
    @include visible-grid;
}

.g--full {
    @include column-fixed(1);
}

.g--half {
    @include column-fixed(1 / 2);
}

.g--third {
    @include column-fixed(1 / 3);
}

.g--quarter {
    @include column-fixed(1 / 4);
}

.g--auto {
    @include column-flex;
}
