:root {
    /* black and white */
    --c--black: hsl(0, 0%, 20%);
    --c--white: hsl(0, 0%, 100%);

    /* gray */
    --c--gray: hsl(210, 7%, 50%);

    /* colors */
    --c--blue: hsl(208, 80%, 50%);
    --c--green: hsl(131, 50%, 50%);
    --c--yellow: hsl(52, 100%, 50%);
    --c--orange: hsl(28, 100%, 50%);
    --c--red: hsl(0, 100%, 50%);
    --c--purple: hsl(276, 75%, 50%);

    /* variants: gray */
    --c--gray-lighter: color(var(--c--gray) l(90%));
    --c--gray-light: color(var(--c--gray) l(70%));
    --c--gray-dark: color(var(--c--gray) l(35%));
    --c--gray-darker: color(var(--c--gray) l(20%));

    /* variants: blue */
    --c--blue-lighter: color(var(--c--blue) l(80%));
    --c--blue-light: color(var(--c--blue) l(65%));
    --c--blue-dark: color(var(--c--blue) l(35%));
    --c--blue-darker: color(var(--c--blue) l(20%));

    /* variants: green */
    --c--green-lighter: color(var(--c--green) l(80%));
    --c--green-light: color(var(--c--green) l(65%));
    --c--green-dark: color(var(--c--green) l(35%));
    --c--green-darker: color(var(--c--green) l(20%));

    /* variants: yellow */
    --c--yellow-lighter: color(var(--c--yellow) l(80%));
    --c--yellow-light: color(var(--c--yellow) l(65%));
    --c--yellow-dark: color(var(--c--yellow) l(35%));
    --c--yellow-darker: color(var(--c--yellow) l(20%));

    /* variants: orange */
    --c--orange-lighter: color(var(--c--orange) l(80%));
    --c--orange-light: color(var(--c--orange) l(65%));
    --c--orange-dark: color(var(--c--orange) l(35%));
    --c--orange-darker: color(var(--c--orange) l(20%));

    /* variants: red */
    --c--red-lighter: color(var(--c--red) l(80%));
    --c--red-light: color(var(--c--red) l(65%));
    --c--red-dark: color(var(--c--red) l(35%));
    --c--red-darker: color(var(--c--red) l(20%));

    /* variants: purple */
    --c--purple-lighter: color(var(--c--purple) l(80%));
    --c--purple-light: color(var(--c--purple) l(65%));
    --c--purple-dark: color(var(--c--purple) l(35%));
    --c--purple-darker: color(var(--c--purple) l(20%));
}

/* color helpers */
.c--black { color: var(--c--black); }
.c--white { color: var(--c--white); }
.c--gray { color: var(--c--gray); }
.c--blue { color: var(--c--blue); }
.c--green { color: var(--c--green); }
.c--yellow { color: var(--c--yellow); }
.c--orange { color: var(--c--orange); }
.c--red { color: var(--c--red); }
.c--purple { color: var(--c--purple); }

/* color variant helpers: gray */
.c--gray-lighter { color: var(--c--gray-lighter); }
.c--gray-light { color: var(--c--gray-light); }
.c--gray-dark { color: var(--c--gray-dark); }
.c--gray-darker { color: var(--c--gray-darker); }

/* color variant helpers: blue */
.c--blue-lighter { color: var(--c--blue-lighter); }
.c--blue-light { color: var(--c--blue-light); }
.c--blue-dark { color: var(--c--blue-dark); }
.c--blue-darker { color: var(--c--blue-darker); }

/* color variant helpers: green */
.c--green-lighter { color: var(--c--green-lighter); }
.c--green-light { color: var(--c--green-light); }
.c--green-dark { color: var(--c--green-dark); }
.c--green-darker { color: var(--c--green-darker); }

/* color variant helpers: yellow */
.c--yellow-lighter { color: var(--c--yellow-lighter); }
.c--yellow-light { color: var(--c--yellow-light); }
.c--yellow-dark { color: var(--c--yellow-dark); }
.c--yellow-darker { color: var(--c--yellow-darker); }

/* color variant helpers: orange */
.c--orange-lighter { color: var(--c--orange-lighter); }
.c--orange-light { color: var(--c--orange-light); }
.c--orange-dark { color: var(--c--orange-dark); }
.c--orange-darker { color: var(--c--orange-darker); }

/* color variant helpers: red */
.c--red-lighter { color: var(--c--red-lighter); }
.c--red-light { color: var(--c--red-light); }
.c--red-dark { color: var(--c--red-dark); }
.c--red-darker { color: var(--c--red-darker); }

/* color variant helpers: purple */
.c--purple-lighter { color: var(--c--purple-lighter); }
.c--purple-light { color: var(--c--purple-light); }
.c--purple-dark { color: var(--c--purple-dark); }
.c--purple-darker { color: var(--c--purple-darker); }

/* background color helpers */
.c--bg-black { background: var(--c--black); }
.c--bg-white { background: var(--c--white); }
.c--bg-gray { background: var(--c--gray); }
.c--bg-blue { background: var(--c--blue); }
.c--bg-green { background: var(--c--green); }
.c--bg-yellow { background: var(--c--yellow); }
.c--bg-orange { background: var(--c--orange); }
.c--bg-red { background: var(--c--red); }
.c--bg-purple { background: var(--c--purple); }

/* background color helpers: gray */
.c--bg-gray-lighter { background: var(--c--gray-lighter); }
.c--bg-gray-light { background: var(--c--gray-light); }
.c--bg-gray-dark { background: var(--c--gray-dark); }
.c--bg-gray-darker { background: var(--c--gray-darker); }

/* background color helpers: blue */
.c--bg-blue-lighter { background: var(--c--blue-lighter); }
.c--bg-blue-light { background: var(--c--blue-light); }
.c--bg-blue-dark { background: var(--c--blue-dark); }
.c--bg-blue-darker { background: var(--c--blue-darker); }

/* background color helpers: green */
.c--bg-green-lighter { background: var(--c--green-lighter); }
.c--bg-green-light { background: var(--c--green-light); }
.c--bg-green-dark { background: var(--c--green-dark); }
.c--bg-green-darker { background: var(--c--green-darker); }

/* background color helpers: yellow */
.c--bg-yellow-lighter { background: var(--c--yellow-lighter); }
.c--bg-yellow-light { background: var(--c--yellow-light); }
.c--bg-yellow-dark { background: var(--c--yellow-dark); }
.c--bg-yellow-darker { background: var(--c--yellow-darker); }

/* background color helpers: orange */
.c--bg-orange-lighter { background: var(--c--orange-lighter); }
.c--bg-orange-light { background: var(--c--orange-light); }
.c--bg-orange-dark { background: var(--c--orange-dark); }
.c--bg-orange-darker { background: var(--c--orange-darker); }

/* background color helpers: red */
.c--bg-red-lighter { background: var(--c--red-lighter); }
.c--bg-red-light { background: var(--c--red-light); }
.c--bg-red-dark { background: var(--c--red-dark); }
.c--bg-red-darker { background: var(--c--red-darker); }

/* background color helpers: purple */
.c--bg-purple-lighter { background: var(--c--purple-lighter); }
.c--bg-purple-light { background: var(--c--purple-light); }
.c--bg-purple-dark { background: var(--c--purple-dark); }
.c--bg-purple-darker { background: var(--c--purple-darker); }
