html {
    text-size-adjust: 100%;
}

body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure {
    margin-top: 0;
    padding: 0;
}

ol,
ul {
    margin-top: 0;
}

main,
li {
    display: block;
}

strong {
    font-weight: 700;
}

a,
button {
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

[type='radio'],
[type='checkbox'] {
    margin: 0;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}
