:root {
    /* base configuration */
    --t--base-size: 16px;
    --t--base-leading: 1.6;

    /* modular scale configuration */
    --ms-base: 1rem;
    --ms-ratio: 1.5;

    /* font families */
    --t--family-sans:
        -apple-system,
        blinkmacsystemfont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        arial,
        sans-serif;
    --t--family-serif: georgia, serif;
    --t--family-mono:
        menlo,
        monaco,
        consolas,
        'Liberation Mono',
        'Courier New',
        monospace;

    /* font weights */
    --t--weight-bold: 700;
    --t--weight-normal: 400;
    --t--weight-light: 300;

    /* font sizes */
    --t--size-xxl: var(--ms3);
    --t--size-xl: var(--ms2);
    --t--size-l: var(--ms1);
    --t--size-m: var(--ms0);
    --t--size-s: var(--ms-1);
}

/* global type baselines */
body,
html {
    font-size: var(--t--base-size);
    line-height: var(--t--base-leading);
    font-family: var(--t--family-sans);
    color: var(--c--black);
    font-feature-settings: 'kern';
    font-kerning: normal;
}

em {
    font-style: italic;
}

strong {
    font-weight: var(--t--weight-bold);
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    line-height: 1;
    font-family: var(--t--family-sans);
    font-weight: var(--t--weight-bold);
}

h1 {
    font-size: var(--t--size-xxl);
}

h2 {
    font-size: var(--t--size-xl);
}

h3 {
    font-size: var(--t--size-l);
}

h4 {
    color: var(--c--gray);
}

p {
    margin-bottom: 1rem;
}

/* quotes */
blockquote {
    margin: 1rem 0;
    padding-left: 1rem;
    color: var(--c--gray-dark);
    border-left: 2px solid var(--c--gray-light);
}

/* lists */
ul,
ol {
    margin-bottom: 1rem;

    & li {
        display: list-item;
    }

    & ul,
    & ol {
        margin-bottom: 0;
    }
}

/* code */
pre,
code {
    font-family: var(--t--family-mono);
    font-size: 90%;
    white-space: pre-wrap;
}

/* links */
a {
    color: var(--c--blue);

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.t--family-sans { font-family: var(--t--family-sans); }
.t--family-serif { font-family: var(--t--family-serif); }
.t--family-mono { font-family: var(--t--family-mono); }

.t--size-xxl { font-size: var(--t--size-xxl); }
.t--size-xl { font-size: var(--t--size-xl); }
.t--size-l { font-size: var(--t--size-l); }
.t--size-m { font-size: var(--t--size-m); }
.t--size-s { font-size: var(--t--size-s); }

.t--weight-bold { font-weight: var(--t--weight-bold); }
.t--weight-normal { font-weight: var(--t--weight-normal); }
.t--weight-light { font-weight: var(--t--weight-light); }

.t--align-left { text-align: left; }
.t--align-center { text-align: center; }
.t--align-right { text-align: right; }

.t--list-unstyled { list-style: none; }
.t--list-inline li { display: inline-block; }
