/*

    ___    _      ____                        
   /   |  (_)____/ __/________ _____ ___  ___ 
  / /| | / / ___/ /_/ ___/ __ `/ __ `__ \/ _ \
 / ___ |/ / /  / __/ /  / /_/ / / / / / /  __/
/_/  |_/_/_/  /_/ /_/   \__,_/_/ /_/ /_/\___/ 
                                              

Bootstrap kit v0.1 - September 3 2014

*/

// basic includes & dependencies
@import "partials/base";

// project-wide styles
@import "partials/color";
@import "partials/breakpoints";
@import "partials/grid";
@import "partials/type";

// component styles
@import "partials/forms";
@import "partials/buttons";

// page layouts
@import "layouts/global";
@import "layouts/styleguide";