/*

    ___    _      ____                        
   /   |  (_)____/ __/________ _____ ___  ___ 
  / /| | / / ___/ /_/ ___/ __ `/ __ `__ \/ _ \
 / ___ |/ / /  / __/ /  / /_/ / / / / / /  __/
/_/  |_/_/_/  /_/ /_/   \__,_/_/ /_/ /_/\___/ 
                                              

Bootstrap kit v0.1 - September 3 2014

*/

// basic includes & dependencies
@import "global/base";
@import "global/normalize";

// project-wide styles - styles single elements
@import "global/color";
@import "global/breakpoints";
@import "global/grid";
@import "global/type";

// component styles - styles groups of elements
@import "components/forms";
@import "components/buttons";

// page layouts - styles groups of components
@import "layouts/global";
@import "layouts/styleguide";
