extends /templates/main.jade

block title
    | Airframe Style Guide

block content
    .g--container
        .sg--component
            span.sg--component-label Typefaces
            .type--sans Amazingly few discoteques provide jukeboxes.
            .type--serif Amazingly few discoteques provide jukeboxes.
            .type--mono Amazingly few discoteques provide jukeboxes.
        .sg--component
            span.sg--component-label Headers
            h1 Header 1
            h2 Header 2
            h3 Header 3
            h4 Header 4
        .sg--component
            .sg--component-label Body Copy
            p The locomotive whistled vigorously; the engineer, reversing the steam, backed the train for nearly a mile&mdash;retiring, like a jumper, in order to take a longer leap.  Then, with another whistle, he began to move forward; the train increased its speed, and soon its rapidity became frightful; a prolonged screech issued from the locomotive; the piston worked up and down twenty strokes to the second.  They perceived that the whole train, rushing on at the rate of a hundred miles an hour, hardly bore upon the rails at all.
            p And they passed over!  It was like a flash.  No one saw the bridge. The train leaped, so to speak, from one bank to the other, and the engineer could not stop it until it had gone five miles beyond the station.  But scarcely had the train passed the river, when the bridge, completely ruined, fell with a crash into the rapids of Medicine Bow.

        .sg--component
            span.sg--component-label Blockquote
            blockquote
                p Example of a quote.
        .sg--component
            span.sg--component-label Form
            form(action='')
                label(for='dummyinput')
                    | Label
                input#dummyinput(type='text', placeholder='Text input')
                textarea(placeholder='Text Area')
                label.form--checkbox
                    input(type='checkbox')
                    | Checkbox
                label.form--radio
                    input(type='radio', name='radio')
                    | Radio 1
                label.form--radio
                    input(type='radio', name='radio')
                    | Radio 2
                select
                    option(selected='selected') Select
                    option Option
                input.btn(type='submit')
        .sg--component
            span.sg--component-label Buttons
            a.btn(href='#') Default Button
            a.btn.btn--primary(href='#') Primary Button
            a.btn.btn--warning(href='#') Warning Button
            a.btn.btn--action(href='#') Action Button
        .sg--component
            span.sg--component-label Grid
            .g--container.g--visible-grid
                .g--row
                    .g--half.g--visible-grid
                        | Half
                    .g--half.g--visible-grid.g--last
                        | Half
                .g--row
                    .g--third.g--visible-grid
                        | Third
                    .g--third.g--visible-grid
                        | Third
                    .g--third.g--visible-grid.g--last
                        | Third
                .g--row
                    .g--quarter.g--visible-grid
                        | quarter
                    .g--quarter.g--visible-grid
                        | quarter
                    .g--quarter.g--visible-grid
                        | quarter
                    .g--quarter.g--visible-grid.g--last
                        | quarter
        .sg--component
            span.sg--component-label Kitchen Sink
            h1 HTML Ipsum Presents
            p
                strong Pellentesque habitant morbi tristique
                | senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                em Aenean ultricies mi vitae est.
                | Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
                code commodo vitae
                | , ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                a(href='#') Donec non enim
                | in turpis pulvinar facilisis. Ut felis.
            h2 Header Level 2
            ol
                li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                li Aliquam tincidunt mauris eu risus.
            blockquote
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
            h3 Header Level 3
            ul
                li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                li Aliquam tincidunt mauris eu risus.
            pre
                code.
                    #header h1 a { 
                        display: block; 
                        width: 300px; 
                        height: 80px; 
                    }
