// grays
$black:             #000;
$grayDarker:        lighten($black, 15%);
$grayDark:          lighten($black, 25%);
$gray:              lighten($black, 50%);
$grayLight:         lighten($black, 70%);
$grayLighter:       lighten($black, 90%);
$white:             #fff;

// project-specific colors
