/* Global styles
   ------------- */

// Normalize font size, set block defaults
input,
textarea,
select,
button,
label,
select {
    display: block;
    font-family: $sans;
    font-size: $scale-normal;
    line-height: $base-line-height;
    margin-bottom: 1rem;
}

legend,
fieldset {
    margin: 0 0 1rem;
    padding: 0;
}

fieldset {
    border: 0;
}

legend {
    font-weight: $weight-bold;
}


/* Individual element styles
   ------------------------- */

label {
    padding-bottom: 0.5rem;
    margin: 0;
    font-weight: $weight-bold;
}

[type="text"],
[type="email"],
[type="password"],
textarea {
    padding: 0.25rem 0.5rem;
    background: $white;
    border: 1px solid $gray-light;
    width: 100%;
    border-radius: $corner-radius;

    &:disabled {
        background: $gray-lighter;
        color: $gray;
        border: $gray;

        &:hover {
            cursor: not-allowed;
        }
    }

    &:read-only {
        color: $gray-light;
        border-color: $gray-lighter;

        &:hover {
            border-color: $gray-lighter;
        }

        &:focus {
            border-color: $gray-light;
        }
    }

    &:hover {
        border-color: $gray;
    }

    &:focus {
        outline: none;
        border-color: $aqua;
    }
}

[type="checkbox"],
[type="radio"] {
    display: inline-block;
    margin-right: 0.5rem;

    &:hover {
        border-color: $gray;
    }

    &:focus {
        outline: none;
        border-color: $aqua;

        +span:after {
            content: '\2190';
            color: $aqua;
            display: inline-block;
            margin-left: 0.5rem;
        }
    }
}

.form--radio,
.form--checkbox {

    label {
        font-weight: $weight-normal;

        &:hover {
            cursor: pointer;
        }
    }

    &.is-disabled {
        color: $gray;

        label:hover,
        input:hover {
            cursor: not-allowed;
        }
    }
}

.form--radio + .form--radio,
.form--checkbox + .form--checkbox {
    // group similar elements
    margin-top: -1rem;
}

// Cross-browser custom select boxes thanks to https://github.com/filamentgroup/select-css.

.form--select {
    position: relative;
    display: block;

    select {
        width: 100%;
        background: none;
        border: 1px solid $gray-light;
        border-radius: $corner-radius;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0.35rem 2rem 0.25rem 0.5rem;

        &:disabled {
            background: $gray-lighter;
            color: $gray;
            border: $gray;
        }

        &:disabled:hover {
            cursor: not-allowed;
        }

        &:hover {
            border-color: $gray;
        }

        &:focus {
            outline: none;
            border-color: $aqua;
        }
    }

    option {
        font-weight: normal;
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        right: 1rem;
        margin-top: -0.25rem;
        border-width: 0.5rem 0.325rem 0;
        border-color: $gray-dark transparent transparent;
        border-style: solid;
        z-index: 2;
        pointer-events: none;
    }
}
