{
    "extends": "../.eslintrc",

    "ecmaFeatures": {
        "generators": false
    },

    "globals": {
        "process": true  # set by node-envify
    },

    "env": {
        "browser": true,
        "node": false,
        "es6": false,
        "commonjs": true,
        "jquery": true
    },

    "rules": {
        "no-alert": 1
    }
}
