/*

    ___    _      ____
   /   |  (_)____/ __/________ _____ ___  ___
  / /| | / / ___/ /_/ ___/ __ `/ __ `__ \/ _ \
 / ___ |/ / /  / __/ /  / /_/ / / / / / /  __/
/_/  |_/_/_/  /_/ /_/   \__,_/_/ /_/ /_/\___/

Bootstrap kit v1.1 - August 14 2016

*/

/* import any vendor files */
@import 'vendor/selectcss';
@import 'vendor/modularscale';

/* project-wide styles - styles single elements */
@import 'global/reset';
@import 'global/color';
@import 'global/type';
@import 'global/layout';

/* component styles - styles groups of elements */
@import 'components/forms';
@import 'components/buttons';
@import 'components/tables';
@import 'components/tooltip';

/* page layouts - styles groups of components */
@import 'layouts/global';
@import 'layouts/docs';
