extends ../assets/templates/layouts/default

block title
    | Homepage - Airframe

block content
    header
        nav.l--container
            .l--row.l--pad-top-m.l--pad-btm-m
                .l--col-3.l--col-12-at-s.l--col-6-at-m
                    <svg width="40%" height="auto" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 278.49 88.34"><path d="M71.09 46.67a.52.52 0 0 0 0-.14 7.81 7.81 0 0 1 7.79-7.32 7.79 7.79 0 0 1 3.81 1l4.61-8.19a17.21 17.21 0 0 0-8.42-2.2c-4.47 0-6.74 1.72-7.91 4.53l-1.24-3.85h-8.07v57.17h9.4v-41zM121.14 30.48v57.17h9.4v-41a.53.53 0 0 0 0-.14 7.81 7.81 0 0 1 7.79-7.32 7.79 7.79 0 0 1 3.81 1l4.61-8.19a17.21 17.21 0 0 0-8.42-2.2c-4.47 0-6.74 1.72-7.91 4.53l-1.24-3.85h-8.07zM196.06 47.02c0-4.3 1.16-7.8 5.47-7.8s5.8 3.5 5.8 7.8v40.63h9.4V47.02c0-4.3 1.45-7.8 5.75-7.8 4.09 0 5.37 3.17 5.49 7.18v41.24h9.39V47.02c0-9.48-5.06-17.2-14.55-17.2-4.9 0-7.77 2.07-9.41 5.36a12 12 0 0 0-10.54-5.36c-4.64 0-6.75 1.85-7.7 4.85l-.9-4.2h-7.64v57.17h9.4V47.02zM44.23 30.48h9.4v57.17h-9.4zM44.58 13.84h8.7v9.4h-8.7zM97.83 87.64h9.4V38.97h8v-8.4h-7.97V17.52a8.14 8.14 0 0 1 2.79-6.3 7.81 7.81 0 0 1 8.83-.83l4.61-8.19a17.21 17.21 0 0 0-8.42-2.2 17.22 17.22 0 0 0-17.2 17.2v13.38h-6.65v8.4h6.65zM.4 87.64h8.7a.35.35 0 0 0 .4-.3l1.9-12.7a.35.35 0 0 1 .4-.3h15.7a.35.35 0 0 1 .4.3l1.9 12.7a.34.34 0 0 0 .2.3h8.7a.45.45 0 0 0 .4-.5L23.9.94a.42.42 0 0 0-.4-.3h-7.9a.35.35 0 0 0-.4.3L0 87.14a.46.46 0 0 0 .4.5zm12.4-22.1l6.4-42.2a.42.42 0 0 1 .8 0l6.4 42.2a.43.43 0 0 1-.4.4H13.2c-.3 0-.5-.2-.4-.4zM146.32 42.2a.52.52 0 0 0 .24.59l8.53 2.8a7.82 7.82 0 0 1 6.07-6.22h.25l.49-.07h.84c4.28 0 7.14 3.55 7.15 9.54v.15h-7.8a17.22 17.22 0 0 0-17.2 17.2v5a17.22 17.22 0 0 0 17.2 17.2c4.57 0 6.91-1.8 8.11-4.72l1.61 4h8.08V49.1c0-13.29-7.3-19-16.43-19.34h-.77c-.45 0-.89 0-1.34.06h-.09a17.18 17.18 0 0 0-6.93 2.13 17.56 17.56 0 0 0-8.01 10.25zm15.77 36.74a7.81 7.81 0 0 1-7.8-7.8v-5c0-4.3 3.5-8.8 7.8-8.8h7.8V71.2a7.81 7.81 0 0 1-7.8 7.74zM264.55 88.03a17.23 17.23 0 0 0 13.17-12.09.52.52 0 0 0-.24-.59l-8.53-2.8a7.81 7.81 0 0 1-8.46 6.35 8 8 0 0 1-7-8v-8.28h25V47a17.22 17.22 0 0 0-17.2-17.2c-9.48 0-17.82 7.72-17.82 17.2v24.1c0 10.59 10.34 19 21.08 16.93zm-11.06-41.82a7.81 7.81 0 0 1 7.8-7.8 7.81 7.81 0 0 1 7.8 7.8v8h-15.6v-8z"/></svg>
                .l--col-9.t--align-right.l--col-6-at-m.l--hidden-at-s
                    ul.t--list-inline
                        li.l--pad-left-m
                            a(href="./full.html") Full Documentation
                        li.l--pad-left-m
                            a(href="https://github.com/planetary/airframe") Contribute on Github
                    span.nav-active


    main
        section
            .l--container
                .l--row.l--pad-top-l.l--pad-btm-l
                    .l--col-6.l--col-12-at-m.l--pad-btm-m
                        h3 Meet Airframe
                        p Airframe allows you to rapidly prototype sites by providing a lightweight scaffold. It makes suggestions without being too prescriptive.
                        a(href="https://github.com/planetary/airframe/releases").button.button--primary Download Files
                    .l--col-6.l--col-12-at-m.l--pad-btm-m
                        pre.docs--code
                            code.nohighlight.
                                $ git clone git@github.com:planetary/airframe
                                $ cd airframe
                                $ npm install
                                $ npm run dev

        section.c--bg-gray-lighter
            .l--container
                .l--row.t--align-center.l--pad-top-m.l--pad-btm-m
                    .l--col-4.l--col-12-at-m.l--pad-btm-s
                        span.t--size-l(data-tooltip="Get started by downloading or cloning the zip files.") 1. Download Files
                    .l--col-4.l--col-12-at-m.l--pad-btm-s
                        span.t--size-l(data-tooltip="Run npm install to initialize the project.") 2. Install Dependencies
                    .l--col-4.l--col-12-at-m.l--pad-btm-s
                        span.t--size-l(data-tooltip="When you're ready to start building, run the build script!") 3. Start Building



        section
            .l--container.l--pad-top-l.l--pad-btm-l
                .l--row
                    .l--col-12
                        h3 Grid System
                .l--row
                    .l--col-6.l--col-12-at-m.l--pad-btm-s
                        .docs--example
                            .l--row.l--pad-btm-s
                                .l--col-6.c--bg-gray-lighter.l--pad-s.
                                    1/2
                                .l--col-6.c--bg-gray-lighter.l--pad-s.
                                    1/2
                            .l--row
                                .l--col-4.c--bg-gray-lighter.l--pad-s.
                                    1/3
                                .l--col-4.c--bg-gray-lighter.l--pad-s.
                                    1/3
                                .l--col-4.c--bg-gray-lighter.l--pad-s.
                                    1/3

                    .l--col-6.l--col-12-at-m.l--pad-btm-s
                        pre.docs--code
                            code.html.
                                &lt;div class=&quot;l--container&quot;&gt;
                                    &lt;div class=&quot;l--row&quot;&gt;
                                        &lt;div class=&quot;l--col-6&quot;&gt;1/2&lt;/div&gt;
                                        &lt;div class=&quot;l--col-6&quot;&gt;1/2&lt;/div&gt;
                                    &lt;/row&gt;
                                    &lt;div class=&quot;l--row&quot;&gt;
                                        &lt;div class=&quot;l--col-4&quot;&gt;1/3&lt;/div&gt;
                                        &lt;div class=&quot;l--col-4&quot;&gt;1/3&lt;/div&gt;
                                        &lt;div class=&quot;l--col-4&quot;&gt;1/3&lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

        section
            .l--container.l--pad-btm-l
                .l--row
                    .l--col-12
                        h3 Form Reset
                .l--row
                    .l--col-6.l--col-12-at-m.l--pad-btm-s
                        .docs--example
                            label Text input
                                input(type="text", placeholder="Text input")
                            label Select Input
                                .form--select
                                    select
                                        option One
                                        option Two
                                        option Three
                            label Textarea input
                                textarea
                            .form--checkbox
                                label
                                    input(type="checkbox")
                                    | Checkbox Option 1
                            .form--checkbox
                                label
                                    input(type="checkbox")
                                    | Checkbox Option 2
                            .form--radio
                                label
                                    input(type="radio")
                                    | Radio Option 1
                            .form--radio
                                label
                                    input(type="radio")
                                    | Radio Option 2

                    .l--col-6.l--col-12-at-m.l--pad-btm-s
                        pre.docs--code
                            code.html.
                                &lt;div class=&quot;docs--example&quot;&gt;
                                    &lt;label&gt;Text input
                                        &lt;input type=&quot;text&quot; placeholder=&quot;Text input&quot;&gt;
                                    &lt;/label&gt;
                                    &lt;label&gt;Select Input
                                        &lt;div class=&quot;form--select&quot;&gt;
                                            &lt;select&gt;
                                                &lt;option&gt;One&lt;/option&gt;
                                                &lt;option&gt;Two&lt;/option&gt;
                                                &lt;option&gt;Three&lt;/option&gt;
                                            &lt;/select&gt;
                                        &lt;/div&gt;
                                    &lt;/label&gt;
                                    &lt;label&gt;Textarea input
                                        &lt;textarea&gt;&lt;/textarea&gt;
                                    &lt;/label&gt;
                                    &lt;div class=&quot;form--checkbox&quot;&gt;
                                        &lt;label&gt;
                                            &lt;input type=&quot;checkbox&quot;&gt;Checkbox Option 1
                                        &lt;/label&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;form--checkbox&quot;&gt;
                                        &lt;label&gt;
                                            &lt;input type=&quot;checkbox&quot;&gt;Checkbox Option 2
                                        &lt;/label&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;form--radio&quot;&gt;
                                        &lt;label&gt;
                                            &lt;input type=&quot;radio&quot;&gt;Radio Option 1
                                        &lt;/label&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;form--radio&quot;&gt;
                                        &lt;label&gt;
                                            &lt;input type=&quot;radio&quot;&gt;Radio Option 2
                                        &lt;/label&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

        section
            .l--container
                .l--row
                    .l--col-12
                        h3 Type utilities
                .l--row
                    .l--col-6.l--col-12-at-m.l--pad-btm-s
                        .docs--example
                            .t--size-xl Both fickle dwarves
                            .t--size-l The wizard quickly jinxed the gnomes
                            .t--size-m Quilt frenzy jackdaw gave them best pox
                            .t--size-s Jim quickly realized that the beautiful gowns are expensive.

                    .l--col-6.l--col-12-at-m.l--pad-btm-s
                        pre.docs--code
                            code.html.
                                &lt;div class=&quot;t--size-xl&quot;&gt;
                                    Both fickle dwarves
                                &lt;/div&gt;
                                &lt;div class=&quot;t--size-l&quot;&gt;
                                    The wizard quickly jinxed the gnomes
                                &lt;/div&gt;
                                &lt;div class=&quot;t--size-m&quot;&gt;
                                    Quilt frenzy jackdaw gave them best pox
                                &lt;/div&gt;
                                &lt;div class=&quot;t--size-s&quot;&gt;
                                    Jim quickly realized that the beautiful
                                    gowns are expensive.
                                &lt;/div&gt;

    footer
        .l--container
            .l--row.l--pad-l
                .l--col-12.t--align-center
                    a(href="./full.html").t--size-l Read the full documentation
            .l--row
                .l--col-3.l--col-12-at-s.l--pad-btm-s
                    <svg style="width:80%; height: auto;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 166"><path d="M500 166H0V0h500v166zM8.3 157.7h483.4V8.3H8.3v149.4z"/><path d="M58.3 126.5v-87h19.1c13.3 0 16 6.4 16 16.1v8c0 10.9-5.2 16-16.3 16h-9.3v46.9h-9.5zm9.4-55.3h8.7c5 0 7.6-2.7 7.6-7.9v-8.7c0-5.2-2.7-7.9-7.8-7.9h-8.5v24.5zM102.9 126.5v-87h9.5v78.3h14.9v8.7h-24.4M216.5 126.5l-21.4-66.2v66.2h-8v-87h9.5l21.6 64.8V39.5h7.6v87h-9.3M239.3 126.5v-87h28.1v8.8h-18.6v21.4h16.1v8.4h-16.1v39.7h18.6v8.7h-28.1M289.5 126.5V48.3h-12.1v-8.8h33.8v8.8H299v78.2h-9.5M418.6 126.5V82.7l-13.2-43.2h9.1l8.8 33.3 8.8-33.3h9.3l-13.3 43.2v43.8h-9.5M165.5 126.5l-2-13.3h-16.3l-2 13.3h-9.5l15.4-87h8.6l15.4 87h-9.6zm-17.1-21.7h13.8l-6.9-45.1zM344 126.5l-2-13.3h-16.3l-2 13.3h-9.5l15.4-87h8.6l15.4 87H344zm-17.1-21.7h13.8l-6.9-45.1zM390.2 126.5L376.6 80h-3.8v46.5h-9.4v-87h19.1c13.3 0 16 6.2 16 16.1V64c0 9-3.3 13.9-10.4 15.4l-1.8.4 13.6 46.7h-9.7zm-17.4-54.9h8.7c5 0 7.6-2.7 7.6-7.9v-9.1c0-5.2-2.7-7.9-7.8-7.9h-8.5v24.9z"/></svg>
                .l--col-auto
                    h4 About Planetary
                    p.p-about We are a multi-disciplinary team of designers and developers working to build and launch great products. If you'd like to know more or get in touch, visit our <a href="http://planetary.io">website</a>!

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js")
    script(type="text/javascript")
        | hljs.initHighlightingOnLoad();
