// grays
$black:             rgb(060, 060, 060);
$white:             rgb(255, 255, 255);

$gray-darker:        mix($white, $black, 15%);
$gray-dark:          mix($white, $black, 25%);
$gray:               mix($white, $black, 50%);
$gray-light:         mix($white, $black, 80%);
$gray-lighter:       mix($white, $black, 90%);


// project-specific colors

$blue:              #0074d9;
$green:             #2ecc40;
$red:               #ff4136;
