/* Global defaults
   --------------- */

$susy: (
  columns: 12,
  gutters: 1/4,
  column-width: 4em
);

// Rounded corners, because why not

$corner-radius: 4px;

/* Grid utility classes
   -------------------- */
.g--container{
  @include container;
}
