// base font size
$base-font-size: 16px;
// base line height
$base-line-height: 25px;

// apply the above to <body>
@include establish-baseline;

// typefaces
$sans:              Helvetica, sans-serif;
$serif:             Georgia, serif;
$mono:              Courier, monospace;

body{
	font-family: $sans;
}

// bold
strong{
    font-weight: bold;
}

// italics
em{
    font-style: italic;
}

// headers
h1,h2,h3,h4 {
	margin-bottom: 0.5em;
}

h1{
	font-size: 180%;
}

h2{
	font-size: 160%;
}

h3{
	font-size: 140%;
}

h4{
	font-size: 120%;
}

// paragraphs
p{
	margin-bottom: 0.5em;
}

// quotes
blockquote{

}

// lists
ul{
    list-style:disc inside;
}

ol{
    list-style: decimal inside;
}

// code
code{
    font-family: $mono;
}

pre{

}